@{
    ViewData["Title"] = "Home Page";
}
<style>
    .header-image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; /* This allows absolute positioning relative to this container */
        width: 100%;
        align-items: flex-end; /* Align children to the bottom */
        height: 250px; /* Adjust height as necessary */
        background-image: url('@Url.Action("GetImage", "Home", new { filename = "HeaderImage1.jpg" })');
        background-size: cover;
        background-position: center;
        margin-top: 0px;
        z-index: -1;
    }

    .header-title {
        position: absolute; /* This will position the header text absolutely within the header-image container */
        width: 30%;
        text-align: center;
        color: white; /* Adjust text color as needed */
        background-color: #e88a0ff3;
        padding: 8px;
    }

    #header-text {
        font-size: 52px;
    }
</style>
@section HeaderImage {
    <div class="header-image mb-3">
        <div class="header-title align-baseline">
            <h1 id="header-text">REPTIBUDDY</h1>
        </div> 
    </div>
}
<div class="row justify-content-center">
	<div class="col-6 col-md-4">
		<a asp-action="AddReptile" asp-controller="Home" class="btn btn-primary LargeButton">
			<i class="fa-solid fa-plus"></i>
			<br />
			Add Reptile
		</a>
	</div>
	<div class="col-6 col-md-4">
		<a asp-action="List" asp-controller="Home" class="btn btn-primary LargeButton">
			<i class="fa-solid fa-frog"></i>
			<br />
			My Reptiles
		</a>
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-6 col-md-4">
		<a asp-action="Search" asp-controller="Home" class="btn btn-primary LargeButton">
			<i class="fa-solid fa-magnifying-glass"></i>
			<br />
			Search
		</a>
	</div>
	<div class="col-6 col-md-4">
		<a asp-action="Calendar" asp-controller="Home" class="btn btn-primary LargeButton">
			<i class="fa-solid fa-calendar"></i>
			<br />
			Calendar
		</a>
	</div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="bs-callout bs-callout-info">
            <h4>Information:</h4>
            <span>
                ReptiBuddy aims to provide a service for managing reptile feedings, medication, overall health, and general tracking.
                This site is continuously being developed, and may have minor bugs. Thank you for checking out ReptiBuddy!
            </span>
        </div>
    </div>
</div>

