@{
    ViewData["Title"] = "Add Reptile";
}
<style>
    .form-group {
        margin-bottom:10px;
    }
</style>
<div class="row mt-4">
    <nav class aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Reptile</li>
        </ol>
    </nav>
</div>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Add Reptile</div>
            <div class="card-body">
                <div class="row">
                    <form asp-action="InsertReptile" asp-asp-controller="Home" method="post">
                        <div class="form-group">
                            <label>Photo:</label>
                            <input type="file" class="form-control" Name="ReptilePhoto">
                        </div>
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" class="form-control" Name="ReptileName">
                        </div>
                        <div class="form-group">
                            <label>Date of Birth:</label>
                            <input type="date" class="form-control" Name="DOB">
                        </div>
                        <div class="form-group">
                            <label>Type:</label>
                            <select class="form-select" id="typeDropdown" Name="ReptileType">
                                <option value=''>Select a species...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Species:</label>
                            <select class="form-select" Name="ReptileSpecies">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="morph">Morph:</label>
                            <select class="form-select" id="morph"></select>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Reptile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/addreptile.js" asp-append-version="true"></script>
    <script>var RootUrl = '@Url.Content("~/")';</script>
}
